<form [formGroup]="formBuscar" (submit)="onSubmit()">
    <div class="container mt-2 mb-2">
        <div class="row">
            <div class="form-group">
            <label for="">Ingrese el elemento a buscar</label>
                <div class="input-group">  
                    <input placeholder="Silvestre" type="text" class="form-control" formControlName="buscado">
                    <Button type="submit" class="btn btn-success ml-2"> Buscar </Button> 
                </div>  
            </div>
            
        </div>
    </div>
    <ul>
        <!--no lanza error si hay menos de 20-->
        <li *ngFor="let valores of valoresMapeados">{{valores}} </li>
    </ul>
</form>
