<div class="container mt-3">

  <app-add (userEmitted)="add($event)"></app-add>
  <app-filter (edadEmitted)="filtarEdad($event)"></app-filter>

<table class="table mt-3 text-center">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index;">
      <th scope="row">{{i+1}}</th>
      <td>{{user.name}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.age}}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Basic example">
          <!-- <button type="button" class="btn btn-info">Editar</button> -->
          <app-edit [user]="user" (editEmitted)="editarUser($event, i)"></app-edit>
          <!-- <button type="button" class="btn btn-danger" >Eliminar</button> -->
          <app-delete [user]="user" (delete)="borrarUser(i)"></app-delete>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-mapeo (valorEmitted)="listar($event)" [valoresMapeados]="mapeo"></app-mapeo>
</div>